.calendar {
    background-color: #FFF7EA;
    padding: 0 41px;
    user-select: none;
    height: 640px;
    padding-top: 48px;
    width: 640px;

}

.month {
    width: 100%;
    background-color: #FFF7EA;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.weekdays {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
    font-size: 18px;
    font-family: "PT Sans", sans-serif;
    margin-bottom: 42px;
}

.weekdays div {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.days {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    gap: 8px;
}

.days div {
    margin: 1px 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    background-color: #078877;
    color: white;
    cursor: pointer;
}


.today {
    background-color: #078877;
    color: white;
}
.prev-month:hover {
    cursor: pointer;
}
.next-month:hover {
    cursor: pointer;
}

.month> p {
    font-size: 24px;
    margin-top: 50px;
    text-transform: uppercase;
}
.date {
    margin-top: 25px;
    text-align: center;
    font-size: 24px;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    padding-bottom: 45px;
}
.month> div> h1 {
    text-align: center;
    color: #8E8E8E;
    font-size: 24px;
    font-weight: 400;
    display: block;
    width: 100px;
}
.prev-month {

    width: 90px;
    display: inline-block;
    color: #8E8E8E;
    font-size: 20px;
    margin-left: 5px;
}
.next-month {
    font-size: 20px;
    color: #8E8E8E;
    width: 90px;
    display: inline-block;
    margin-right: 3px;
}
